/* ----- button ----- */
.button {
	display: inline-block;
	text-align: center;
	padding: 16px 30px;
	background-color: #3D96F4;
	border-radius: 50px;
	color: #FFFFFF;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.43;
	transition: background-color 0.3s ease 0s;
}

.button_dark {
	background-color: rgba(129, 129, 139, 0.2);
}

@media (max-width: 991.98px) {
	.button {
		padding: 14px 20px;
	}
}

.button:hover {
	background-color: rgba(129, 129, 139, 0.2);
}

.button_dark:hover {
	background-color: #3D96F4;
}

/* ----- text ----- */
.header-main {}

.header-main__label {
	display: inline-block;
	padding: 11px 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #9C9C9C;
	border: 1px solid rgba(129, 129, 139, 0.2);
	border-radius: 12px;
	transition: border 0.3s ease 0s;
	cursor: pointer;
}

.header-main__label:hover {
	border: 1px solid rgba(129, 129, 139, 0.4);
}

.header-main__label:not(:last-child) {
	margin-bottom: 19px;
}

.header-main__title {
	font-weight: 500;
	font-size: 51px;
	line-height: 1.2;
	color: #FFFFFF;
	position: relative;
}

.header-main__title:not(:last-child) {
	margin-bottom: 28px;
}

.header-main__text {
	font-size: 18px;
	line-height: 1.5;
	color: #9C9C9C;
}

.header-main__text:not(:last-child) {
	margin-bottom: 33px;
}

.text {
	line-height: 1.5;
	color: #81818b;
}

.header-main__list {}

.header-main__list li {
	position: relative;
	min-height: 32px;
	padding-left: 40px;
	padding-top: 4px;
	color: #9C9C9C;
	line-height: 1.5;
}

.header-main__list li:not(:last-child) {
	margin-bottom: 16px;
}

.header-main__list li::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	background: rgba(129, 129, 139, 0.1) url("../img/why/li.svg") center no-repeat;
}

@media (max-width: 991.98px) {
	.header-main__title {
		font-size: 44px;
	}
}

@media (min-width: 768px) {
	.header-main__title {
		max-width: 520px;
	}

	.header-main__text {
		max-width: 500px;
	}
}

@media (max-width: 767.98px) {
	.header-main__title {
		font-size: 32px;
	}

	.header-main__title:not(:last-child) {
		margin-bottom: 15px;
	}

	.header-main__text:not(:last-child) {
		margin-bottom: 15px;
	}
}

/* ---------- */