/* ----- button ----- */
.button {
	display: inline-block;
	text-align: center;
	padding: 16px 30px;
	background-color: #3D96F4;
	border-radius: 50px;
	color: #FFFFFF;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.43;
	transition: background-color 0.3s ease 0s;
}

.button_dark {
	background-color: rgba(129, 129, 139, 0.2);
}

@media (max-width: 991.98px) {
	.button {
		padding: 14px 20px;
	}
}

.button:hover {
	background-color: rgba(129, 129, 139, 0.2);
}

.button_dark:hover {
	background-color: #3D96F4;
}

/* ----- text ----- */
.header-main {}

.header-main__title {
	font-weight: 500;
	font-size: 51px;
	line-height: 1.2;
	color: #FFFFFF;
	position: relative;
}

.header-main__title:not(:last-child) {
	margin-bottom: 28px;
}

.header-main__text {
	font-size: 18px;
	line-height: 1.5;
	color: #9C9C9C;
}

.header-main__text:not(:last-child) {
	margin-bottom: 33px;
}

@media (max-width: 991.98px) {
	.header-main__title {
		font-size: 44px;
	}
}

@media (min-width: 768px) {
	.header-main__title {
		max-width: 520px;
	}

	.header-main__text {
		max-width: 500px;
	}
}

@media (max-width: 767.98px) {
	.header-main__title {
		font-size: 32px;
	}

	.header-main__title:not(:last-child) {
		margin-bottom: 15px;
	}

	.header-main__text:not(:last-child) {
		margin-bottom: 15px;
	}
}

/* .text {
	line-height: 1.5;
} */

/* ---------- */