/* ----- reset styles ----- */
@import url("reset.css");
/* ----- common styles ----- */
@import url("common.css");
/* ----- header styles ----- */
@import url("header.css");
/* ----- footer styles ----- */
@import url("footer.css");

/* ----- body ----- */
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #9C9C9C;
	background-color: #0D0D11;
}

/* ----- wrapper ----- */
.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

/* ----- page ----- */
.page {
	flex: 1 1 auto;
}

.page__main {}

.page__clients {}

.page__services {}

.page__why {}

/* ----- container ----- */
[class*="__container"] {
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ----- section-one (main) ----- */
.main {
	padding-top: 160px;
	padding-bottom: 100px;
}

.main__container {
	display: flex;
	gap: 32px;
}

.main__content {
	flex: 0 1 50%;
	align-self: center;
}

.main__header {
	position: relative;
}

.main__header::before {
	content: "";
	background: url('../img/decor.svg') 0 0 / 100% no-repeat;
	width: 122px;
	height: 122px;
	position: absolute;
	top: -10px;
	left: -34px;
}

.header-main__actions {
	display: flex;
	column-gap: 32px;
	row-gap: 15px;
}

.header-main__button {}

.main__images {
	flex: 0 1 50%;
}

.images-main {
	display: flex;
	gap: 9.615385%;
	/* 60/624 */
	justify-content: center;
}

.images-main__column {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.images-main__item {
	border-radius: 50% / 29%;
	overflow: hidden;
}

.images-main__item_1,
.images-main__item_4 {
	border-radius: 50% / 29%;
}

.images-main__item_2 {
	border-radius: 50% 50% 0 50%;
}

.images-main__item_3 {
	border-radius: 50% 0 50% 50%;
}

.images-main__item img {
	max-width: 100%;
}

@media (max-width: 991.98px) {
	.main {
		padding-top: 120px;
		padding-bottom: 60px;
	}
}

@media (max-width: 767.98px) {
	.main {
		padding-top: 100px;
		padding-bottom: 30px;
	}

	.main__container {
		flex-direction: column;
	}

	.main__content {
		align-items: stretch;
	}
}

@media (max-width: 479.98px) {
	.header-main__actions {
		flex-direction: column;
	}
}

/* ----- section-two (clients) ----- */
.clients {
	padding-top: 100px;
	padding-bottom: 70px;
}

.clients__container {}

.clients__title {
	margin-bottom: 44px;
	font-size: 14px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.clients__items {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.clients__item img {
	max-width: 100%;
}

@media (max-width: 991.98px) {
	.clients {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.clients__title {
		margin-bottom: 30px;
	}
}

@media (max-width: 767.98px) {
	.clients {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.clients__title {
		margin-bottom: 20px;
	}
}

/* ----- section-three (services) ----- */
.services {
	padding-top: 70px;
	padding-bottom: 100px;
}

.services__container {
	display: flex;
	gap: 32px;
}

.services__content {
	flex: 0 1 50%;
	align-self: center;
}

.services__header {}

.services__items {
	flex: 0 1 50%;
	display: flex;
	gap: 32px;
	justify-content: center;
}

.services__column {}

.services__column:first-child {
	padding-top: 48px;
}

.services__item {}

.services__item:not(:last-child) {
	margin-bottom: 32px;
}

.item-service {
	display: block;
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	padding: 55px 25px;
}

.item-service__icon {}

.item-service__icon:not(:last-child) {
	margin-bottom: 16px;
}

.item-service__title {
	font-size: 19px;
	font-weight: 400;
	line-height: 1.42;
	color: #FFFFFF;
}

.item-service__title:not(:last-child) {
	margin-bottom: 10px;
}

.item-service__text {}

@media (max-width: 1100px) {
	.services__container {
		flex-direction: column;
	}

	.services__header .header-main__title,
	.services__header .header-main__text {
		max-width: none;
	}
}

@media (max-width: 991.98px) {
	.services {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media (max-width: 767.98px) {
	.services {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media (max-width: 620px) {
	.services__items {
		flex-direction: column;
	}

	.services__column:first-child {
		padding-top: 0px;
	}
}

/* ----- section-five (why) ----- */
.why {
	padding-top: 100px;
	padding-bottom: 100px;
}

.why__container {
	display: flex;
	column-gap: 64px;
	row-gap: 32px;
}

.why__images {
	flex: 0 1 50%;
}

.images-why {
	display: flex;
	position: relative;
	align-self: flex-end;
}

.images-why__item {
	overflow: hidden;
}

.images-why__item img {
	max-width: 100%;
}

.images-why__item_1 {
	border-radius: 90% 0 49% 49% / 50% 0 31% 31%;
}

.images-why__item_2 {
	align-self: flex-end;
	border-radius: 50% 50% 50% 0;
}

.why__content {
	flex: 0 1 50%;
	align-self: center;
}

.why__header {}

.images-why::before {
	content: "";
	background: url('../img/decor.svg') 0 0 / 100% no-repeat;
	width: 122px;
	height: 122px;
	position: absolute;
	bottom: -10px;
	left: -34px;
}

@media (max-width: 991.98px) {
	.why {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media (max-width: 767.98px) {
	.why {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.why__container {
		flex-direction: column-reverse;
	}
}