/* ----- reset styles ----- */
@import url("reset.css");
/* ----- common styles ----- */
@import url("common.css");
/* ----- header styles ----- */
@import url("header.css");
/* ----- footer styles ----- */
@import url("footer.css");

/* ---------- */
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #9C9C9C;
	background-color: #0D0D11;
}

/* ---------- */
.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

/* ---------- */
.page {
	flex: 1 1 auto;
}

.page__main {}

/* ---------- */
[class*="__container"] {
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ----- main ----- */
.main {
	padding-top: 160px;
	padding-bottom: 100px;
}

.main__container {
	display: flex;
	gap: 32px;
}

.main__content {
	flex: 0 1 50%;
	align-self: center;
}

.main__header {
	position: relative;
}

.main__header::before {
	content: "";
	background: url('../img/main/decor.svg') 0 0 / 100% no-repeat;
	width: 122px;
	height: 122px;
	position: absolute;
	top: -10px;
	left: -34px;
}

.header-main__actions {
	display: flex;
	column-gap: 32px;
	row-gap: 15px;
}

.header-main__button {}

.main__images {
	flex: 0 1 50%;
}

.images-main {
	display: flex;
	gap: 9.615385%;
	/* 60/624 */
	justify-content: center;
}

.images-main__column {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.images-main__item {
	border-radius: 50% / 29%;
	overflow: hidden;
}

.images-main__item_1,
.images-main__item_4 {
	border-radius: 50% / 29%;
}

.images-main__item_2 {
	border-radius: 50% 50% 0 50%;
}

.images-main__item_3 {
	border-radius: 50% 0 50% 50%;
}

.images-main__item img {
	max-width: 100%;
}

@media (max-width: 991.98px) {
	.main {
		padding-top: 120px;
		padding-bottom: 60px;
	}
}

@media (max-width: 767.98px) {
	.main {
		padding-top: 100px;
		padding-bottom: 30px;
	}

	.main__container {
		flex-direction: column;
	}

	.main__content {
		align-items: stretch;
	}
}

@media (max-width: 479.98px) {
	.header-main__actions {
		flex-direction: column;
	}
}

/* ---------- */